@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

* {
    outline: 1px solid #FF0000;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button {
    display: inline-block;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.lead {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

p.description {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.navigation-logo {
    width: 138px;
    padding-left: 70px;
    padding-right: 30px;
}

.page-header-logo {
    position: absolute;
}

.navigation {
    margin-right: 267px;
    width: 340px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-user {
    width: 88px;
}

.navigation-user-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-user-link {
    margin: 0;
    min-width: 20px;
    min-height: 20px;
}

.navigation-user-link-favorite {
    position: relative;
}

.navigation-favorite-count {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    background: #7DB54F;
    border-radius: 50%;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-user-img {
    display: block;
    margin: 22px 12px;
}

.header-button {
    display: block;
    width: 160px;
    margin: 14px 70px 14px 20px;
    padding: 8px;
    border-radius: 4px;
}

.main-container {
    background-color: #FFFFFF;
    color: #000000;
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

.hero {
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-img {
    display: flex;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 82px;
}

.advantages-title {
    margin: 0;
    padding: 0;
    padding-bottom: 62px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.advantages .lead {
    margin-bottom: 25px;
}

.advantages-description-container {
    width: 652px;
    padding: 70px 275px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-description {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}

.advantages-container {
    width: 230px;
    display: flex;
    flex-direction: column;
    padding: 102px 85px;
}

.advantages-item {
    width: 230px;
    padding: 102px 85px;
}

.advantages-item-full {
    display: flex;
    width: 1200px;
    background-color: #82B3D3;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    background-color: #83B3D31F;
}

.advantages-item:nth-last-of-type(odd) {
    background-color: #83B3D333;
}

.advantages-item-full .advantages-title {
    color: #FFFFFF;
}

.advantages-item-full .advantages-description {
    color: #FFFFFF;
}

.advantages-item-full-reverse {
    flex-direction: row-reverse;
}

.advantages-img {
    display: block;
}

.services-description-container {
    width: 505px;
    padding: 64px 348px;
}

.services-img {
    margin: 0 76px 30px 76px;
}

.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.services-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.services-item {
    background-color: #83B3D31F;
    width: 230px;
    padding: 82px 85px;
}

.services-item:nth-of-type(even) {
    background-color: #FFFFFF;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.search {
    width: 592px;
    padding: 96px 304px;
}

.button-search {
    width: 376px;
    margin: 54px 108px 0 108px;
    font-size: 20px;
    line-height: 36px;
}

.subscribe-container {
    width: 684px;
    padding: 96px 258px 104px 258px;
}

.subscribe-form {
    margin-top: 54px;
    display: flex;
}

.subscribe-index {
    background-image: url("../images/subscribe-background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.subscribe-index .lead {
    color: #FFFFFF;
}

.subscribe-index .description {
    color: #FFFFFF;
}

.subscribe-button {
    background-color: #82B3D3;
    width: 232px;
    border: 0;
}

.subscribe-field {
    padding: 14px 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    background: #F2F2F2;
    border: 0;
}

.subscribe-field-label {
    max-width: 452px;
}

.filters-container {
    background-image: url("../images/filters-background.jpg");
    background-size: cover;
    background-repeat: repeat;
    color: #FFFFFF;
    padding: 35px 0 70px 0;
}

.inner-header {
    width: 1060px;
    margin: 0 auto;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.breadcrumbs {
    width: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    list-style-type: none;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.filters {
    padding: 0 70px;
    margin-top: 40px;
}

.filters-catalog {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.filters-catalog-group {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 70px;
}

.filters-catalog-group-price {
    width: 288px;
    margin-left: 70px;
}

.filters-catalog-range {
    display: flex;
    max-width: 288px;
}

.filters-catalog-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.range-inputs-label {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.input {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 116px;
}

.control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}

.control:last-child {
    margin: 0;
}

.select-control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 292px;
    margin-right: auto;
}

.filters-button-container {
    width: 192px;
    margin-top: 56px;
}

.filters-button {
    background: transparent;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    width: 192px;
    padding: 8px 50px;
    margin-bottom: 38px;
}

.filters-button:last-child {
    margin: 0;
}

.active-filters-button {
    background-color: #82B3D3;
    border: none;
    color: #FFFFFF;
}

.sort-container {
    display: flex;
    margin: 50px 0 40px 0;
}

.sort-container .lead {
    margin: 6px 0 6px 0;
    margin-right: 200px;
}

.sort-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sort-item {
    margin-right: 8px;
}

.sort-item:nth-child(3n) {
    margin-right: 0;
}

.sort-item .sort-button {
    background-color: #FFFFFF;
}

.sort-img {
    display: block;
    padding: 17px;
}

.catalog {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
}

.hotels-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hotels-card {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.hotels-card-link {
    text-decoration: none;
}

.hotels-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.hotels-card-name {
    font-weight: 400;
}

.hotels-card-price {
    font-weight: 400;
}

.hotels-stars {
    display: block;
}

.button-blue {
    background-color: #82B3D3;
}

.button-light {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    background-color: #F2F2F2;

}

.button-green {
    background-color: #7DB54F;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 80px;
    margin-bottom: 60px;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 11px 13px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
}

.pagination-link-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-link-any {
    color: #000000;
    background-color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding: 40px 70px 30px 70px;
}

.footer-social {
    width: 142px;
    padding: 5px 0;
    margin-right: 236px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    width: 47px;
    height: 40px;
}

.social {
    padding: 12px;
}

.page-footer {
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
}

.footer-contacts {
    width: 331px;
}

.footer-contacts-phone {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.footer-publicher {
    margin-left: auto;
}

.footer-publicher-link {
    margin: 0;
    padding: 0;
}
