@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #F2F2F2;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 140px;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #615048;
}

.button:focus {
    background-color: #615048;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
}

.button:disabled {
    background-color: #E5E5E5;
}

.lead {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.description {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 70px;
}

.page-container {
    margin: 0 auto;
}

.navigation-logo {
    width: 138px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.page-header-logo {
    position: absolute;
}

.navigation {
    margin-right: auto;
    width: 340px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-user {
    width: 88px;
}

.navigation-user-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-user-link {
    margin: 0;
    min-width: 20px;
    min-height: 20px;
}

.navigation-user-link-favorite {
    position: relative;
}

.navigation-favorite-count {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 2;
    text-align: center;
    color: #FFFFFF;
    background: #7DB54F;
    border-radius: 50%;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {
    position: relative;
    display: inline-flex;
    padding: 0;
    padding-top: 20px;
}

.navigation-link-current::after {
    position: absolute;
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    background-color: #756257;
    bottom: 0;
    left: 0;
    margin-bottom: -20px;

}

.navigation-user-img {
    display: block;
    margin: 22px 12px;
}

.header-button {
    width: 160px;
    margin: 14px 0 14px 20px;
    padding: 8px;
    border-radius: 4px;
}

.main-container {
    background-color: #FFFFFF;
    color: #000000;
    flex-grow: 1;
}

.hero {
    position: relative;
    min-height: 485px;
    background-image: url("../images/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: url("../images/divider.png");
    background-size: cover;
}

.hero-container {
    padding-top: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    max-width: 100%;
}

.advantages-title {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.advantages-title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: 2px;
    background-color: #000000;
    opacity: 0.3;
    bottom: 0;
}

.advantages .lead {
    margin-bottom: 25px;
}

.advantages-description-container {
    max-width: 652px;
    padding: 70px 0 90px 0;
    margin: 0 auto;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.advantages-description {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}

.advantages-container {
    display: flex;
    flex-direction: column;
    padding: 102px 85px;
}

.advantages-item-full {
    display: flex;
    width: 100%;
    background-color: #82B3D3;
}

.advantages-item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #83B3D31F;
    padding: 113px 85px;
}

.advantages-item:nth-last-of-type(odd) {
    background-color: #83B3D333;
}

.advantages-item-full .advantages-title {
    color: #FFFFFF;
}

.advantages-item-full .advantages-title::after {
    background-color: #FFFFFF;
}

.advantages-item-full .advantages-description {
    color: #FFFFFF;
}

.advantages-item-full-reverse {
    flex-direction: row-reverse;
}

.advantages-img {
    display: block;
}

.services-description-container {
    max-width: 505px;
    margin: 0 auto;
    padding: 64px 0;
}

.services-img {
    margin: 0 76px 30px 76px;
}

.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.services-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.services-item {
    background-color: #83B3D31F;
    width: 400px;
    padding: 82px 85px;
}

.services-item:nth-of-type(even) {
    background-color: #FFFFFF;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.search {
    max-width: 592px;
    margin: 0 auto;
    padding: 96px 0;
}

.button-search {
    display: flex;
    padding: 8px 50px;
    max-width: 376px;
    margin-top: 54px;
    margin-left: 108px;
    font-size: 20px;
    line-height: 36px;
}

.subscribe-container {
    width: 684px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 104px;
}

.subscribe-form {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subscribe-index {
    background-image: url("../images/subscribe-background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.subscribe-index .lead {
    color: #FFFFFF;
}

.subscribe-index .description {
    color: #FFFFFF;
}

.subscribe-button {
    background-color: #82B3D3;
    max-width: 232px;
    border-radius: 0 4px 4px 0;
}

.subscribe-button:hover {
    background-color: #68A2CA;
}

.subscribe-button:focus {
    background-color: #68A2CA;
}

.subscribe-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-field {
    padding: 14px 20px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    background: #F2F2F2;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    grid-column: 1;
}

.subscribe-field:focus {
    outline: none;
}

.filters-container {
    background-image: url("../images/filters-background.jpg");
    background-size: cover;
    background-repeat: repeat;
    color: #FFFFFF;
    padding: 35px 0 70px 0;
}

.inner-header {
    width: 1060px;
    margin: 0 auto;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
}

.breadcrumbs {
    width: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    list-style-type: none;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}
.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.3;
}

.icon {
    background: url("/images/arrow.svg") no-repeat;
    background-size: contain;
    width: 8px;
    height: 20px;
    margin-right: 10px;
}

.icon-home {
    background: url("/images/home-icon.svg") no-repeat;
    background-size: contain;
    width: 13px;
    height: 15px;
    margin-right: 10px;
}

.filters {
    padding: 0 70px;
    margin-top: 40px;
}

.filters-catalog {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 70px;
}

.filters-catalog-group {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
}

.filters-catalog-group-price {
    width: 288px;
    gap: 20px;
}

.range {
    margin-top: 36px;
}

.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
    opacity: 1;
    left: 0;
    width: 227px;
    top: 0;
    z-index: 1;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.toggle-min {
    left: 0;
}

.toggle-max {
    right: 0;
}

.filters-catalog-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.range-inputs-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.range-inputs-label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 143px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border: none;
    font: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f2f2f2;
}

.input:hover {
    outline: none;
    background-color: #E5E5E5;
}

.input:focus {
    outline: none;
    background-color: #E5E5E5;
    border: 3px solid #83B3D3;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input-left {
    border-radius: 4px 0 0 4px;
}

.input-right {
    border-radius: 0 4px 4px 0;
}

.label-text {
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.3;
}

.control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.control:hover {
    opacity: 0.6;
}

.control:last-child {
    margin: 0;
}

.control-input {
    display: none;
}

.control-input + span {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
}

.control-input + span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.control-input[type="radio"] + span::before {
    border-radius: 50%;
}

.control-input:checked + span::before {
    background-color: #FFFFFF;
    background-image: url("/images/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 10px;
}

.control-input:checked[type="radio"] + span::before {
    background-color: #FFFFFF;
    background-image: url("/images/radio.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.select-control {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 292px;
    margin-right: auto;
    padding: 14px 20px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    appearance: none;
    background: url("/images/arrow-bottom.svg") no-repeat right 20px center;
}

.select-control:hover {
    border: 2px solid #68A2CA;
}

.select-control:focus {
    border: 2px solid #68A2CA;
}

.select-control:disabled {
    opacity: 0.3;
    color: rgba(0, 0, 0, 0.3);
    border: 2px solid #000000;
}

.filters-button-container {
    width: 192px;
    margin-top: 56px;
}

.filters-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    width: 192px;
    padding: 8px 50px;
    margin-bottom: 38px;
    border-radius: 4px;
}

.filters-button:hover {
    opacity: 0.6;
}

.filters-button:active {
    opacity: 0.3;
}

.filters-button:disabled {
    opacity: 0.1;
}

.filters-button:last-child {
    margin: 0;
}

.active-filters-button {
    background-color: #82B3D3;
    border: none;
    color: #FFFFFF;
}

.sort-container {
    display: flex;
    margin: 50px 0 40px 0;
}

.sort-container .lead {
    margin: 6px 0 6px 0;
    margin-right: 200px;
}

.sort-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 8px;
}

.sort-item {
    display: flex;
    border: #E5E5E5 2px solid;
    border-radius: 4px;
}

.sort-item:hover {
    border: #000000 2px solid;
}

.sort-item:focus {
    border: #68A2CA 2px solid;
}

.sort-item:active {
    border: #000000 2px solid;
}

.active {
    border-color: #000000;
}

.sort-item .sort-button {
    background-color: #FFFFFF;
}

.sort-button {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.sort-button:focus {
    outline: none;
    border: #68A2CA 2px solid;
}

.sort-img {
    display: block;
    margin: 17px;
}

.catalog {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
}

.hotels-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.hotels-card {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 16px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}

.hotels-card-image-link {
    text-decoration: none;
    grid-column: 1 / -1;
}

.hotels-card-title-link {
    grid-column: 1 / -1;
    text-decoration: none;
}

.hotels-card-image-wrapper {
    display: flex;
}

.hotels-card-image {
    display: block;
    align-items: center;
}

.hotels-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
}

.hotels-card-name {
    font-weight: 400;
}

.hotels-card-price {
    font-weight: 400;
    justify-self: end;
}

.button-blue {
    background-color: #82B3D3;
}

.button-blue:hover {
    background-color: #68A2CA;
}

.button-blue:focus {
    background-color: #68A2CA;
}

.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
}

.button-blue:disabled {
    background-color: #E5E5E5;
}

.button-light {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    background-color: #F2F2F2;

}

.button-light:hover {
    background-color: #F2F2F2;
}

.button-green {
    background-color: #7DB54F;
}

.button-green:hover {
    background-color: #6C9E42;
}

.button-green:focus {
    background-color: #6C9E42;
}

.button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #7DB54F;
}

.button-green:disabled {
    background-color: #E5E5E5;
}

.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 11px 13px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-link:hover {
    background-color: #68A2CA;
    border: 1px solid #82B3D3;
}

.pagination-link:focus {
    background-color: #68A2CA;
    border: 1px solid #82B3D3;
}

.pagination-link:active {
    background-color: #82B3D3;
    opacity: 0.3;
}

.pagination-link-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-link-current:hover {
    background-color: #F2F2F2;
    border: none;
}

.pagination-link-any {
    color: #000000;
    background-color: #FFFFFF;
}

.pagination-link-any:hover {
    border: none;
    background-color: #FFFFFF;
}

.page-footer-container {
    display: flex;
    padding: 40px 70px 30px 70px;
}

.footer-social {
    width: 142px;
    padding: 5px 0;
    margin-right: 236px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-item {
    width: 47px;
    height: 40px;
}

.footer-social-link {
    display: block;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social-vk {
    background-image: url("/images/vk.svg");
    background-size: 24px 14px;
}

.footer-social-vk:hover {
    background-image: url("/images/vk-hover.svg");
}

.footer-social-vk:focus {
    background-image: url("/images/vk-focus.svg");
}

.footer-social-vk:active {
    background-image: url("/images/vk-active.svg");
}

.footer-social-yt {
    background-image: url("/images/youtube.svg");
    background-size: 22px 17px;
}

.footer-social-yt:hover {
    background-image: url("/images/youtube-hover.svg");
}

.footer-social-yt:focus {
    background-image: url("/images/youtube-focus.svg");
}

.footer-social-yt:active {
    background-image: url("/images/youtube-active.svg");
}

.footer-social-tg {
    background-image: url("/images/telegram.svg");
    background-size: 18px 16px;
}

.footer-social-tg:hover {
    background-image: url("/images/telegram-hover.svg");
}

.footer-social-tg:focus {
    background-image: url("/images/telegram-focus.svg");
}

.footer-social-tg:active {
    background-image: url("/images/telegram-active.svg");
}

.page-footer {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.footer-contacts {
    width: 331px;
}

.footer-contacts-phone {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.footer-contacts-phone:hover {
    color: #756157;
}

.footer-contacts-phone:focus {
    color: #756157;
}

.footer-contacts-phone:active {
    color: #756157;
    opacity: 0.3;
}

.footer-publicher {
    margin-left: auto;
}

.footer-publicher-link {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer-publicher-logo {
    display: block;
    width: 115px;
    height: 33px;
    background-image: url("/images/logo-footer.svg");
    background-size: 115px 33px;
    background-repeat: no-repeat;
    background-position: center
}

.footer-publicher-logo:hover {
    background-image: url("/images/logo-footer-hover.svg");
}

.footer-publicher-logo:focus {
    background-image: url("/images/logo-footer-focus.svg");
}

.footer-publicher-logo:active {
    background-image: url("/images/logo-footer-active.svg");
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background: #FFFFFF;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-search {
    width: 717px;
}

.modal-close-button {
    position: absolute;
    top: 64px;
    right: 55px;
    width: 52px;
    height: 52px;
    background-color: #F2F2F2;
    background-image: url("/images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    outline: 3px solid #83B3D3;
}

.modal-close-button:active {
    opacity: 0.3;
}

.modal-close-button:disabled {
    opacity: 0.1;
}

.modal-title {
    margin: 0 0 64px 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.modal-form {
    display: grid;
    grid-template-columns: 247px 247px;
    gap: 0 82px;
}

.modal-field {
    display: grid;
    grid-template-columns: 137px 440px;
    grid-column: 1 / -1;
    margin-bottom: 17px;
    align-items: center;
    position: relative;
}

.modal-field::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("/images/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    pointer-events: none;
}

.modal-label {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    word-wrap: break-word;
}

.modal-input {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
    border: 2px solid transparent;
    border-radius: 4px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right 20px center;
    margin: 0;
    padding: 10px 50px 10px 18px;
}

.modal-input::placeholder {
    opacity: 0.6;
}

.modal-input:hover {
    background-color: #E6E6E6;
}

.modal-input:focus {
    outline: 3px solid #83B3D3;
}

.modal-input:disabled {
    opacity: 0.1;
}

.modal-message {
    grid-column: 2 / -1;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}

.modal-message-error {
    color: #FF5757;
}

.modal-form-quanity {
    display: grid;
    grid-template-columns: 130px 110px;
    column-gap: 7px;
    align-items: center;
}

.modal-counter-wrapper {
    display: grid;
    grid-template-columns: 40px 32px 40px;
}

.counter-input {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    font-family: inherit;
    text-align: center;
    appearance: textfield;
    outline: none;
}

.counter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #F2F2F2;
    outline: none;
    cursor: pointer;
}

.counter-button-icon {
    display: block;
    color: rgba(117, 97, 87, 0.3);
}

.counter-button:hover .counter-button-icon {
    color: #000000;
}

.counter-button:focus-visible .counter-button-icon {
    border-radius: 4px;
    outline: 3px solid #83B3D3;
}

.counter-button:active .counter-button-icon {
    opacity: 0.2;
}

.counter-button:disabled .counter-button-icon {
    opacity: 0.1;
}

.counter-button-minus {
    border-radius: 4px 0 0 4px;
}

.counter-button-plus {
    border-radius: 0 4px 4px 0;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

.modal-form-wrapper-children {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-form-wrapper-children .modal-input {
    margin-left: 6px;
    margin-right: 11px;
    max-width: 82px;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 50%;
    align-items: center;
    border: none;
}

.tooltip-icon {
    display: block;
}

.tooltip:hover .tooltip-icon {
    color: #000000;
}

.tooltip-text {
    position: absolute;
    z-index: 3;
    display: none;
    top: 41px;
    left: 60%;
    margin: 0;
    padding: 20px 22px 24px;
    width: 256px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #333333;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.tooltip-text::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 50%;
    width: 13px;
    height: 13px;
    background-color: #333333;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip:hover + .tooltip-text,
.tooltip:focus + .tooltip-text {
    display: block;
}

.modal-submit-button {
    grid-column: 1 / -1;
    margin-top: 48px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    word-wrap: break-word;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: #68A2CA ;
}

.modal-submit-button:active {
    color: rgba(255, 255, 255, 0.3)
}

.modal-close {
    display: none;
}
